<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

<iron-ajax auto url="data.json" last-response="{{data}}"></iron-ajax>

<paper-datatable-api class="card" data="[[data]]">
  <paper-datatable-api-column draggable-column header="Product" property="product">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>
  <paper-datatable-api-column draggable-column header="Price" property="price">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>
  <paper-datatable-api-column draggable-column header="Color" property="color">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>
  <paper-datatable-api-column header="Description" property="description">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>
</paper-datatable-api>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
