<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      paper-input {
    max-width: 400px;
    margin: auto;
  }
  iron-icon, div[suffix] {
    color: hsl(0, 0%, 50%);
    margin-right: 12px;
  }
  .card{margin:auto; max-width: 400px;}
  paper-button {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
  }
  paper-button.pink {
    color: var(--paper-pink-a200);
    --paper-button-ink-color: var(--paper-pink-a200);
  }
  paper-button.pink:hover {
    background-color: var(--paper-pink-100);
  }
  paper-button.indigo {
    background-color: var(--paper-indigo-500);
    color: white;
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-pink-a200) !important;
      color: white !important;
    };
  }
  paper-button.indigo:hover {
    background-color: var(--paper-indigo-400);
  }
  .btn-container{text-align: right;}
    </style>
<div class="card">
    <form id="form" is="iron-form">
<paper-input id="firstname" auto-validate required  label="First Name" ></paper-input>
<paper-input id="lastname" auto-validate required label="Last Name"></paper-input>
<paper-input id="address" auto-validate required  label="Address"></paper-input>
<paper-input id="pin" pattern="[0-9]+" auto-validate required  label="Pin"></paper-input>
<paper-input id="phone" title="ssssss" pattern="^\d{10}$" auto-validate required  label="Phone"></paper-input>

<paper-input id="grosssalary" pattern="[0-9]+" auto-validate required  label="Gross Salary"></paper-input>
<paper-input id="newsalary" pattern="[0-9]+"  auto-validate required  label="Net Salary"></paper-input>


<div class="btn-container">
        <paper-button class="indigo" on-click="_onSubmit" raised>
          Submit
        </paper-button>
        
        <paper-button on-click="_onReset" raised>
          Reset
        </paper-button>
      </div>
        
      </form>

</div>





  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
    }

   

    window.customElements.define(MyView3.is, MyView3);

    
  </script>



</dom-module>
