<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      paper-card{width:24%;display:inline-block;margin-top:10px;margin-right:4px;}
    </style>


<paper-card image="images/binoculars.png">
  <div class = "card-content">
    <h1>Binocular</h1>
   
     <p class = "cafe-light">Lorem ipsum dolor sit amet, per in nusquam nominavi periculis</p>
  </div>
</paper-card>
<paper-card image="images/lipstick.png">
  <div class = "card-content">
    <h1>Lipstick</h1>
   
    <p class = "cafe-light">Lorem ipsum dolor sit amet, per in nusquam nominavi periculis</p>
  </div>
</paper-card >
<paper-card image="images/backpack.png">
  <div class = "card-content">
    <h1>Backpack</h1>
   
    <p class = "cafe-light">Lorem ipsum dolor sit amet, per in nusquam nominavi periculis</p>
  </div>
</paper-card>
<paper-card image="images/chucks.png">
  <div class = "card-content">
    <h1>Chucks</h1>
   
    <p class = "cafe-light">Lorem ipsum dolor sit amet, per in nusquam nominavi periculis</p>
  </div>
</paper-card>
<paper-card image="images/clock.png">
  <div class = "card-content">
    <h1>Clock</h1>
   
    <p class = "cafe-light">Lorem ipsum dolor sit amet, per in nusquam nominavi periculis</p>
  </div>
</paper-card>
<paper-card image="images/helmet.png">
  <div class = "card-content">
    <h1>Helmet</h1>
   
    <p class = "cafe-light">Lorem ipsum dolor sit amet, per in nusquam nominavi periculis</p>
  </div>
</paper-card>
<paper-card image="images/sunnies.png">
  <div class = "card-content">
    <h1>Sunnies</h1>
   
    <p class = "cafe-light">Lorem ipsum dolor sit amet, per in nusquam nominavi periculis</p>
  </div>
</paper-card>
<paper-card image="images/teapot.png">
  <div class = "card-content">
    <h1>Tea pot</h1>
   
    <p class = "cafe-light">Lorem ipsum dolor sit amet, per in nusquam nominavi periculis</p>
  </div>
</paper-card>

  


  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
